<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                    This page created with <i class="fa fab fa-heart"></i> by Handhyatma
                    <pre>
                    <code class="md">
Server    : Google Cloud Platform
OS        : Ubuntu 18.04 LTS
Engine    : Apache 2
Database  : SQL
Language  : Python 3
Framework : Django 2.2
Template  : AdminLTE
                    </code>
                    </pre>
                    View this page on <a href="#" class="">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>