<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        Status: {{success}}
                        <form role="form" method="post" action="">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                {{ form.full_name }}
                            </div>
                            <div class="input-group mb-3">
                                {{ form.shirt_size }}
                            </div>
                            <div class="col-4">
                                <button type="submit" name="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </form>

                        {% comment %} {% for r in request %}
                            TEST: {{ r }}<br>
                        {% endfor %} {% endcomment %}

                        {% for p in person %}
                            <p>Person: {{ p.full_name }}<br>Person: {{ p.shirt_size }}</p>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>