<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        Status: {{success}}
                        <form role="form" method="post" action="">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                {{ form.full_name }}
                            </div>
                            <div class="input-group mb-3">
                                {{ form.shirt_size }}
                            </div>
                            <div class="col-4">
                                <button type="submit" name="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </form>
                        <br>
                        <table id="table_style" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Size</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for p in person %}
                                <tr>
                                    <td>{{ p.full_name }}</td>
                                    <td>{{ p.shirt_size }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>