<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        test
                        <pre>
                            <code class="python">
import os
print(os.output)
                            </code>
                        </pre>
                        Oh gitu, Oke

                        <pre>
                            <code class="C++">
#&lt;iostream.h&gt;
void main() {
    std&gt;&gt;out&gt;&gt;;
}                            
                            </code>
                        </pre>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>