<!-- Main content -->
<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="https://media-exp1.licdn.com/dms/image/C5103AQGS81matoo2Dg/profile-displayphoto-shrink_400_400/0?e=1604534400&v=beta&t=JaUxyrUJ8i2nFGvI23knuNlF3j289l0B-PcYHVbSm_M"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">
                    {{name}}
                </h3>

                <p class="text-muted text-center">
                    {{email}}
                </p>

                <a href="{{link_google}}" class="btn btn-block btn-danger">
                    <i class="fab fa-google-plus mr-2"></i> Google+
                </a>

                <a href="{{link_github}}" class="btn btn-block btn-secondary">
                    <i class="fab fa-github mr-2"></i> Github
                </a>

                <a href="{{link_instagram}}" class="btn btn-block btn-default">
                    <i class="fab fa-instagram mr-2"></i> Instagram
                </a>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">About Me</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

                <strong><i class="fas fa-book mr-1"></i> Education</strong>
                <p class="text-muted">
                  {{education}}
                </p>
                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                <p class="text-muted">
                    {{location}}
                </p>
                <hr>

                <strong><i class="fas fa-code mr-1"></i> Technical Language</strong>
                <p class="text-muted">
                  {{technical_languages}}
                </p>
                <hr>

                <strong><i class="fas fa-tools mr-1"></i> Frameworks/Tools</strong>
                <p class="text-muted">
                  {{frameworks_tools}}
                </p>
                <hr>

                <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>
                <p class="text-muted">{{notes}}</p>
                
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->

            <div class="col-md-8">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
                            <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>
                        </ul>
                    </div><!-- /.card-header -->

                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">
                                <div class="post container">
                                        Hello World
                                        <br>
                                        <pre>
                                        <code class="python">
def hello_world(input_string):
    print(f"Menampilkan {input_string}")

if __name__ == "__main__":
    hello_world("Hallo Semua")
                                        </code>
                                        </pre>
                                        Ini code yang lain
                                        <code>sudo apt-get install apple</code>
                                </div>
                            </div>

                            <div class="tab-pane" id="timeline">
                                <div class="post">
                                        Hallo
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div><!-- /.container-fluid -->
</section>