  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/aaa4e2a5-78d4-4924-8c60-6e53429eaf65/dc5p21n-8119c7a9-d550-424f-a1be-a7d47e32cc9c.png/v1/fill/w_1600,h_1600,strp/unix_terminal_logo_by_dollarakshay_dc5p21n-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xNjAwIiwicGF0aCI6IlwvZlwvYWFhNGUyYTUtNzhkNC00OTI0LThjNjAtNmU1MzQyOWVhZjY1XC9kYzVwMjFuLTgxMTljN2E5LWQ1NTAtNDI0Zi1hMWJlLWE3ZDQ3ZTMyY2M5Yy5wbmciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.TyGtWA_j_J_qVRajE-KY6BrQFnng9k5gCw86ME61SHg" alt="HANDHYATMA" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-bold">HANDHYATMA</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- SidebarSearch Form -->
      <div class="form-inline" hidden>
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
          <li class="nav-header">PROJECTS</li>
          <li class="nav-item has-treeview">

            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-microchip"></i>
              <p>
                Embedded System
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="line_follower" class="nav-link">
                  <i class="far  nav-icon"></i>
                  <p>Line Follower</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="manipulator" class="nav-link">
                  <i class="far  nav-icon"></i>
                  <p>Manipulator</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="humanoid" class="nav-link">
                  <i class="far  nav-icon"></i>
                  <p>Humanoid</p>
                </a>
              </li>
            </ul>

          </li>

          <li class="nav-item has-treeview">

            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-laptop-code"></i>
              <p>
                Websites
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>

          <li>

          <li class="nav-item has-treeview">
            
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-mobile-alt"></i>
              <p>
                Mobile Apps
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
          
          </li>

          <li class="nav-header">EXPERIMENT</li>
          <li class="nav-item">
            <a href="add_person" class="nav-link">
              <i class="nav-icon fab fa-github"></i>
              <p>
                Add Person
              </p>
            </a>
          </li>

          <li class="nav-header">OTHER</li>
          <li class="nav-item">
            <a href="about_this_page" class="nav-link">
              <i class="nav-icon fab fa-github"></i>
              <p>
                About this page
              </p>
            </a>
          </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  